html, body {
  overflow-x: hidden;
}

body {
  position: relative;
}

/* NAV -------------------------------------------------*/

/* Setting up sidenav container */
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Styling nav anchor tags */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* Nav hover effect */
.sidenav a:hover {
  color: #f1f1f1;
}

#nav-header {
  font-size: 20px;
  color: white;
  text-align: center;
}

header {
  font-size: 30px;
  font-weight: bold;
}

/* SM Mobile sizing */
@media screen and (max-height: 450px) {
  #navbar {padding-top: 15px;}
  #navbar a {font-size: 18px;}
  #navbar {position: fixed;}
}

/* Mobile sizing */
@media only screen and (max-width: 600px) {
  #navbar a {font-size: 14px;}
  #nav-header {font-size: 16px;}
  .sidenav {
    width: 25%;
    overflow-x: scroll;
  }
}

/* MAIN ---------------------------------------------*/

main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 15px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* content styling */
blockquote {
  margin: 0;
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

/* Radio survey */
#radio-helpful {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}

#yes {
  margin-left: 30px;
}

#no {
  margin-left: 15px;
}

@media only screen and (max-width: 600px) {
  code {max-width: 100%;}
  main {margin-left: 100px;}
}

/* Size down font to allow room for radio buttons */
@media only screen and (max-width: 600px) {
  #radio-helpful {font-size: 16px;}
}

/* SIGN-OFF --------------------------------------------*/

/*designed by & contact*/
#contact-section {
  color: black;
  text-align: center;
  min-height: 33vh;
}

#design-line {
  background-color: purple;
  height: 2px;
}

.contact-links {
  height: auto;
  width: 25%;
  display: inline-block;
  padding: 20px;
}

.link-cont {
  float: left;
  width: 25%;
}

.contact-img {
  height: 75px;
  width: 75px;
}

#git-logo {
  height: 75px;
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .contact-links {width: 100%;}
  .contact-img {
    height: 50px;
    width: 50px;
  }
  #git-logo {
    height: 50px;
    width: 75px;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .contact-links {width: 100%;}
}